# General
.DS_Store
Thumbs.db
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.db
*.sql
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints
*.ipynb
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Node.js-specific for frontend and VideoPlatform directories
/frontend/node_modules/
/VideoPlatform/node_modules/
*.tgz
.yarn-integrity
.cache
.parcel-cache
.next
.out
.nuxt
.npm
.eslintcache
.node_repl_history

# Database dumps and specific project files
*.dump
*.backup

# Log files and temp files
*.tmp
*.temp
*.swp
