/* ./videoplayer.css */
.subtitle-wrapper {
  position: absolute;
  bottom: 20px; /* Adjust this value to position the subtitles below the control bar */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}

.subtitle-background {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px 0px;
  border-radius: 4px;
}

.subtitle-text {
  color: white;
  text-align: center;
  margin: 0;
}

.hidden {
  display: none;
}

.video-react .video-react-control-bar {
  z-index: 2; /* Ensure the control bar appears above the subtitles */
}

.subtitle-text {
  font-size: 30px;
}

/* Font size for smaller screens */
@media screen and (max-width: 700px) {
  .subtitle-text {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}

.subtitle-checkboxes {
  padding: 8px;
}

.subtitle-checkbox {
  margin-bottom: 8px;
}

.subtitle-checkbox input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
}

.subtitle-checkbox input[type="checkbox"]:checked {
  background-color: #000;
}

.subtitle-checkbox input[type="checkbox"]:checked::before {
  content: "✓";
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
  background-color: black;
}

.video-container > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-react {
  max-width: 100%;
  max-height: 100%;
}
